<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Mitt CV</h1>

    <nav>
        <a href="/about">Om sidan</a>
    </nav>

    <br>
    <% if(errors && errors.length > 0) { %> <!-- Kontrollerar om det finns valideringsfel -->
        <ul>
            <% errors.forEach((error) => { %> <!-- Loopar igenom valideringsfel -->
                <li><%= error %></li> <!--Skriver ut error-->
            <% }); %>
        </ul>
    <% } %>
    <br>
    
    <!--Formulär för att lägga till kurs-->
    <form method="post" action="/">
        <label for="code">Kurskod:</label>
        <input type="text" id="code" name="code">
        <label for="name">Kursnamn</label>
        <input type="text" id="name" name="name">
        <label for="syllabus">Syllabus</label>
        <input type="text" id="syllabus" name="syllabus">
        <label for="progression">Kursprogression</label>
        <input type="text" id="progression" name="progression">
        <input type="submit" value="Lägg till kurs">
    </form>

     <!---Formulär för att radera kurs-->
     <div>
        <form method="post" action="/remove-course">
            <label for="courseCodeToRemove">Ange kurskod som önskas raderas:</label>
            <input type="text" id="courseCodeToRemove" name="courseCodeToRemove">
            <input type="submit" value="Radera">
        </form>
        
    </div>

    <!--Div för utskrift av kurser-->
    <div class="container">
        <h2>Avklarade kurser</h2>
        <% if (data && data.length > 0) { %> <!-- Kontrollerar om det finns data att visa -->
            <ul>
                <% data.forEach((result) => { %> <!-- Loopar igenom result (kursobjekt) -->
                    <li class="coursesDatabase">
                        <strong>Kurskod:</strong> <%= result.courseCode %><br>
                        <strong>Kursnamn:</strong> <%= result.courseName %><br>
                        <strong>Syllabus:</strong> <%= result.courseSyllabus %><br>
                        <strong>Kursprogression:</strong> <%= result.courseProgression %><br>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Inga kurser finns tillgängliga.</p>
        <% } %>
    </div>
</body>
</html>


